NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_API_URL="https://hedera-quests.com"
# Google Analytics
NEXT_PUBLIC_GA_ID=G-PW24KENBWY
# Google reCAPTCHA v3 
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
NODE_ENV=production
NEXT_PUBLIC_ENABLE_ANALYTICS=false
NEXT_PUBLIC_ENABLE_COOKIE_BANNER=false

# Avalanche / Core Wallet
NEXT_PUBLIC_AVALANCHE_NETWORK=fuji
NEXT_PUBLIC_AVALANCHE_CHAIN_ID=43113
NEXT_PUBLIC_AVALANCHE_RPC_URL=https://api.avax-test.network/ext/bc/C/rpc

# Avalanche Escrowly Contract Addresses (Fuji)
NEXT_PUBLIC_FACTORY_ADDRESS=0xF7dbcC5b0F500163Fd84f7229A4E5D7C26d2c7E1
NEXT_PUBLIC_ESCROW_VAULT_ADDRESS=0x847617b6Ad72A6C18b903dFceEA5a5c8b84C95b9
NEXT_PUBLIC_PROOF_ADDRESS=0xEB95599b4bEC01458b4685C3E365bFe42208886F
NEXT_PUBLIC_VERIFIER_REGISTRY_ADDRESS=0x2f3631c49A09Bfd9a83c17B8f4AFf25f2714002A
NEXT_PUBLIC_TREASURY_ADDRESS=0x1622A9a5008C86F52Dea53A8F1d9Df0F6285e6e4
NEXT_PUBLIC_ACCESS_MANAGER_ADDRESS=0x20F1f2829A40C8659705f42Da9217ae25a977D88
